
<h2><%= topic.title %></h2>
<div class="col-md-12">
  <div class="row">
    <% topic.bookmarks.each do |bookmark| %>
      <%= render 'shared/bookmark_card', bookmark: bookmark %>
    <% end %>
  </div>
</div>
