<div class="container">

  <div class="well">
      <h3><%= link_to "#{@liked_bookmarks.topic.title}", topic, id: "topic-show-path-#{@liked_bookmarks.topic.id}" %></h3><span><%= link_to '', topic_path(topic), method: :delete, id: "delete-topic-#{@liked_bookmarks.topic.id}-from-index", class: "glyphicon glyphicon-trash pull-right", data: { confirm: 'Are you sure?' }  %></span>
  </div>

  <div class="col-md-12", id="<%= topic.slug %>">
    <div class="row">
      <% @liked_bookmarks.topic.bookmarks.each do |bookmark| %>
        <%= render partial: 'shared/bookmark_card', locals: { topic: @liked_bookmarks.topic, bookmark: bookmark} %>
      <% end %>
    </div>
  </div>

</div>
