<div class="col-md-3 bookmark">
  <div class="thumbnail">
    <img alt="Bookmark Thumbnail" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
    <div class="caption">
      <strong>
        <%= bookmark.url %>
      </strong>
      <!-- <p>
      </p>
      <p>
        <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
      </p>-->
    </div>
  </div>
</div>
