<div class="col-md-3 bookmark">
  <div class="thumbnail">
    <img alt="Bookmark Thumbnail" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
    <div class="caption">
      <strong>
        <%= bookmark.url %>
      </strong>
      <p class="pull-right">
        <% if policy(bookmark).update? %>
        <%= link_to '', edit_topic_bookmark_path(topic, bookmark), id: "edit-#{bookmark.id}", class: 'glyphicon glyphicon-pencil index-icons' %>
        <% end %>
        <% if policy(bookmark).destroy? %>
        <%= link_to '', topic_bookmark_path(topic, bookmark), method: :delete, id: "destroy-bookmark-#{bookmark.id}-from-index", class: 'glyphicon glyphicon-trash index-icons', data: { confirm: 'Are you sure?' }%>
        <% end %>

      </p>
      <div class="well">
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </div>




    </div>
  </div>
</div>
